.button-usual {
    width: 100%;
    height: 28px;
    background: #e9ebed;
    color: #363f49;
    font-size: 13px;
    font-weight: bold;
    line-height: 29px;
    text-decoration: none;
    border: solid 1px #dadada;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-usual:hover {
    color: #fff;
    background-color: #acd588;
}